.teammates-list li {
  margin-left: 20px;
  list-style-type: circle;
}

.timeline {
  position: relative;
  font-size: 17px;
  font-weight: 400;
}

.timeline::before {
  content: '';
  background: #C5CAE9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #C5CAE9 transparent transparent;
}

.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #E5E7E9;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  transition: all .4s;
}

.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #C5CAE9;
}

.timeline-content:hover {
  box-shadow: 2px 3px 15px #999;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #003E7E;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

#project .timeline-item a {
  background: #003E7E;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}

#project a:hover,
#project a:active,
#project a:focus {
  background: #154360;
  color: #FFFFFF;
  text-decoration: none;
}

.timeline-card {
  padding: 0 !important;
}

.timeline-card p {
  padding: 0 20px;
}

.timeline-card a {
  margin-left: 20px;
}

#bnt-more1 {
  margin-left: 20px;
}

.timeline-item:nth-child(1) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url(../assets/myHome_Updated.PNG) center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(2) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url(../assets/Compressed/randomNumber-min.jpg) center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(3) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url(../assets/Compressed/huffman-min.png) center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(4) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url(../assets/covid.jfif) center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(5) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url(../assets/bridge.jpg) center center no-repeat;
  background-size: cover;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 15px;
}

#project .card-title {
  display: block;
  color: #003E7E;
  font-weight: 600;
  font-size: 20px;
}

.project-description {
  line-height: 1.7;
  margin-bottom: .75rem;
}

.date {
  background: #A04000;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }

  .timeline .timeline-img {
    left: 50px;
  }

  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }

  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }

  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}