* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #333;
}

section {
    padding-top: 0;
    padding-bottom: 60px;
    position: relative;
}

.wrapper {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;
}

.sidenav {
    height: 100vh;
    background-color: white;
    box-shadow: 1px -2px 3px #ABB2B9;
    max-width: 190px;
}

.hidden-sidenav {
    height: 100vh;
    background-color: white;
    width: 190px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #F8F9F9;
    max-height: 190px;
    padding-top: 45px;
    padding-bottom: 35px;
    border-bottom: 0.5px groove #FDFEFE;
}

.intro:hover {
    background: #F2F3F4;
}

.intro a:hover {
    text-decoration: none;
}

.logo:hover {
    cursor: pointer;
}

#fullname {
    text-align: center;
    color: #1A5276;
    font-size: 25px;
    font-weight: 300;
}

#job {
    color: #6E2C00;
    text-align: center;
    font-size: 0.6em;
    font-weight: 300;
}

.about {
    background-color: white;
    transition: all .5s;
    font-size: 15px;
}

    .about:hover {
        border-left: 4px solid #229954;
        background: #F8F9F9;
    }
    
.experience {
    background-color: white;
    transition: all .5s;
    font-size: 15px;
}

    .experience:hover {
        border-left: 4px solid #3498DB;
        background: #F8F9F9;        
    }

.skills {
    background-color: white;
    transition: all .5s;
    font-size: 15px;
}

    .skills:hover {
        border-left: 4px solid #FAF208;
        background: #F8F9F9;        
    }

.project {
    background-color: white;
    transition: all .5s;
    font-size: 15px;
}

    .project:hover {
        border-left: 4px solid #8322B2;
        background: #F8F9F9;        
    }

    .project-icon {
        color: #8322B2;        
    }

.education {
    background-color: white;
    transition: all .5s;
    font-size: 15px;
}

    .education:hover {
        border-left: 4px solid #EE0808;
        background: #F8F9F9;        
    }

.contact {
    background-color: white;
    transition: all .5s;
    font-size: 15px;
}

    .contact:hover {
        border-left: 4px solid #BA4A00;
        background: #F8F9F9;        
    }

    .envelope {
        color: #BA4A00;
    }

.resume {
    background-color: white;
    transition: all .5s;
    font-size: 15px;
}

    .resume:hover {
        border-left: 4px solid #000;
        background: #F8F9F9;        
        cursor: pointer;
    }

.top-container {
    color: white;
    font-weight: 200;
    left: 0;
    position: absolute;
    top: 0;
    width: 95%;
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1280px;
}

.border-intro {
    float: left;
    display: block;
    margin: auto;
    width: 45%;
    height: 4px;
    background: #003E7E;
}

.beginner-header {
    padding: 0 10px;
    background-color: #003E7E
}

@media only screen and (min-width: 601px) {
    .top-container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .top-container {
        width: 70%;
    }
}

.top-container h2 {
    font-weight: 300;
    line-height: 150%;
    padding: 0 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 3.3rem;
}

@media (max-width: 600px) {
    .top-container h2 {
        margin-left: 0 !important;
        font-size: 2rem;
    }
}

#horizontal {
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0px 1px 4px #566573;
    width: 100%;
    height: 64px;
    padding-top: 18px;
    padding-bottom: 12px;
    z-index: 1;
}

/*Toggle Button starts*/
.toggle {
    position: relative;
    z-index: 1;
    margin-left: 20px;
    background: white;
    color: #117864;
    outline: none;
}
.toggle:hover,
.toggle:focus,
.toggle:active {
  outline: none;
}
/*Toggle Button ends*/
.name-title {
    display: block;
    width: 100%;
    position: absolute;
    top: 18px;
}

.name-title h2 {
    text-align: center;
    color: #17A589;
    font-size: 18px;
    font-weight: 600;
}

.name-title h2 span {
    color: #795548;
    text-align: center;
    font-size: 0.7em;
    font-weight: 400; 
}

main {
    padding-left: 190px;
    background-color: #F8F9F9;
}

footer {
    padding-left: 190px;
    background-color: #D5DBDB;
    text-align: center;
}

h3 {
    font-size: 2.92rem;
    line-height: 3.212rem;
    font-weight: 200;
    margin-bottom: 60px;
    padding: 30px 40px;
    text-transform: uppercase;
    color: white;
    background-color: #003E7E;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}

#activeAbout {
    font-weight: bold;
    border-left: 4px solid #229954;
    background: #F8F9F9;
}

#activeExperience {
    font-weight: bold;
    border-left: 4px solid #3498DB;
    background: #F8F9F9;
}

#activeSkills {
    font-weight: bold;
    border-left: 4px solid #FAF208;
    background: #F8F9F9;
}

#activeProject {
    font-weight: bold;
    border-left: 4px solid #8322B2;
    background: #F8F9F9;
}

#activeEducation {
    font-weight: bold;
    border-left: 4px solid #EE0808;
    background: #F8F9F9;
}

#activeContact {
    font-weight: bold;
    border-left: 4px solid #BA4A00;
    background: #F8F9F9;
}

#activeDescription {
    filter: none;
}

@media (max-width: 992px) {
    #vertical {
        display: none;
    }

    #horizontal {
        display: block;
    }

    #hide {
        position: fixed;
        left: -194px;
        top: 0;
        z-index: 3;
        transition: all 0.4s;
    }

    main {
        padding-left: 0;
    }

    footer {
        padding-left: 0;
    }

    h3 {
        padding: 20px 30px;
        margin-bottom: 40px;
    }
    h3, .box {
        position: relative;
        top: 64px;
    }
}

@media (min-width: 993px) {
    #vertical {
        display: block;
    }

    #horizontal {
        display: none;
    }

    #hide {
        display: none;
    }
}

@media (max-width: 350px) {
    .name-title h2 {
        padding-left: 20px;
    }
}


